USE [ProyectoWeb]
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 9/30/2025 12:03:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[Id_Bitacora] [int] IDENTITY(1,1) NOT NULL,
	[FechaHora] [datetime] NOT NULL,
	[TipoEvento] [varchar](50) NOT NULL,
	[Descripcion] [varchar](max) NULL,
	[Id_Usuario] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Bitacora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carrito]    Script Date: 9/30/2025 12:03:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carrito](
	[IDCarrito] [int] NOT NULL,
	[IDUsuario] [int] NOT NULL,
	[IDProducto] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 9/30/2025 12:03:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[IDCategoria] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](200) NULL,
 CONSTRAINT [PK_Categoria] PRIMARY KEY CLUSTERED 
(
	[IDCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Perfil]    Script Date: 9/30/2025 12:03:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfil](
	[ID] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 9/30/2025 12:03:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[IDProducto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Precio] [int] NOT NULL,
	[DVH] [varchar](max) NULL,
	[Costo] [decimal](10, 2) NOT NULL,
	[IDCategoria] [int] NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[IDProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 9/30/2025 12:03:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NULL,
	[Clave] [varchar](max) NULL,
	[TipoUsuario] [int] NOT NULL,
	[cant_intentos] [int] NULL,
	[bloqueado] [bit] NULL,
	[DVH] [varchar](max) NULL,
 CONSTRAINT [PK__Usuario__63C76BE20E725557] PRIMARY KEY CLUSTERED 
(
	[Id_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 9/30/2025 12:03:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[IDUsuario] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Total] [int] NOT NULL,
	[MetodoPago] [varchar](50) NOT NULL,
	[IDVenta] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Venta] PRIMARY KEY CLUSTERED 
(
	[IDVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VentaDetalle]    Script Date: 9/30/2025 12:03:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VentaDetalle](
	[IDVenta] [int] NOT NULL,
	[IDProducto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
	[CostoUnitario] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_VentaDetalle] PRIMARY KEY CLUSTERED 
(
	[IDVenta] ASC,
	[IDProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vertical]    Script Date: 9/30/2025 12:03:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vertical](
	[NombreTabla] [varchar](20) NOT NULL,
	[DVV] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[NombreTabla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bitacora] ON 

INSERT [dbo].[Bitacora] ([Id_Bitacora], [FechaHora], [TipoEvento], [Descripcion], [Id_Usuario]) VALUES (1069, CAST(N'2025-07-12T20:23:03.540' AS DateTime), N'Message', N'Se logeo el Webmaster: MarkZuckerberg', 1)
INSERT [dbo].[Bitacora] ([Id_Bitacora], [FechaHora], [TipoEvento], [Descripcion], [Id_Usuario]) VALUES (1070, CAST(N'2025-07-12T20:24:51.537' AS DateTime), N'Message', N'Se logeo el Webmaster: MarkZuckerberg', 1)
INSERT [dbo].[Bitacora] ([Id_Bitacora], [FechaHora], [TipoEvento], [Descripcion], [Id_Usuario]) VALUES (1071, CAST(N'2025-07-12T20:26:49.463' AS DateTime), N'Message', N'Se logeo el Webmaster: MarkZuckerberg', 1)
GO
SET IDENTITY_INSERT [dbo].[Bitacora] OFF
GO
INSERT [dbo].[Carrito] ([IDCarrito], [IDUsuario], [IDProducto]) VALUES (1, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([IDCategoria], [Nombre], [Descripcion]) VALUES (1, N'Hardware de ComputaciÃ³n', N'Componentes y equipos de PC')
INSERT [dbo].[Categoria] ([IDCategoria], [Nombre], [Descripcion]) VALUES (2, N'PerifÃ©ricos', N'Teclados, mouse, auriculares, webcams')
INSERT [dbo].[Categoria] ([IDCategoria], [Nombre], [Descripcion]) VALUES (3, N'Mobiliario de Oficina', N'Sillas, escritorios, estanterÃ­as')
SET IDENTITY_INSERT [dbo].[Categoria] OFF
GO
SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([IDProducto], [Nombre], [Precio], [DVH], [Costo], [IDCategoria]) VALUES (1, N'Monitor', 50000, N'd470b2038bfc237f9b02baa81e6ea15038ae5771e36930abbbfe979cc72b2733', CAST(35000.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Producto] ([IDProducto], [Nombre], [Precio], [DVH], [Costo], [IDCategoria]) VALUES (2, N'Gabinete', 20000, N'4d3a0d3468a3ddc49aab06d01946cf5fb955a98b510a34460b909a7702435db1', CAST(15000.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Producto] ([IDProducto], [Nombre], [Precio], [DVH], [Costo], [IDCategoria]) VALUES (3, N'Silla', 45000, N'53bc700383dffd0e1e3d1e49c817557f9a51f8f1a5f2f4298503cc3940735b92', CAST(30000.00 AS Decimal(10, 2)), 3)
SET IDENTITY_INSERT [dbo].[Producto] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([Id_Usuario], [Username], [Clave], [TipoUsuario], [cant_intentos], [bloqueado], [DVH]) VALUES (1, N'MarkZuckerberg', N'9cd696db3373d0790d6d670fd7624f2a34888519942f6d0659d8a0284bdac21b', 1, 0, 0, N'e9036fcd4f822086de61bcd9f023caf8ec9388708338dbf8c8cf1ab2ab8f0962')
INSERT [dbo].[Usuario] ([Id_Usuario], [Username], [Clave], [TipoUsuario], [cant_intentos], [bloqueado], [DVH]) VALUES (2, N'ElonMusk', N'2e463c7c83d8591be89744657002f6465dbaabfa31d0011d15f74678e5432f7a', 2, 0, 0, N'75466ce16e450b42a0032d0d36685714cc2415a3769d47fc93949108e32afb6d')
INSERT [dbo].[Usuario] ([Id_Usuario], [Username], [Clave], [TipoUsuario], [cant_intentos], [bloqueado], [DVH]) VALUES (4, N'Pato', N'1ccb8820a5085ac20d2edc330f6e7a9245462493eb2746c4467af3988e967785', 3, 0, 0, N'5a6f1d2ab4c2f0fdc58d4f3fdef4d091e77fd588bdaab41ac9e85c87e31bde0b')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
SET IDENTITY_INSERT [dbo].[Venta] ON 

INSERT [dbo].[Venta] ([IDUsuario], [Fecha], [Total], [MetodoPago], [IDVenta]) VALUES (1, CAST(N'2025-07-08T21:01:19.770' AS DateTime), 26000, N'Tarjeta', 1)
INSERT [dbo].[Venta] ([IDUsuario], [Fecha], [Total], [MetodoPago], [IDVenta]) VALUES (1, CAST(N'2025-07-08T21:04:20.807' AS DateTime), 78000, N'Tarjeta', 2)
INSERT [dbo].[Venta] ([IDUsuario], [Fecha], [Total], [MetodoPago], [IDVenta]) VALUES (1, CAST(N'2025-07-17T15:29:36.930' AS DateTime), 140000, N'Tarjeta', 3)
SET IDENTITY_INSERT [dbo].[Venta] OFF
GO
INSERT [dbo].[VentaDetalle] ([IDVenta], [IDProducto], [Cantidad], [PrecioUnitario], [CostoUnitario]) VALUES (1, 4, 1, CAST(15000.00 AS Decimal(10, 2)), CAST(10000.00 AS Decimal(10, 2)))
INSERT [dbo].[VentaDetalle] ([IDVenta], [IDProducto], [Cantidad], [PrecioUnitario], [CostoUnitario]) VALUES (1, 5, 1, CAST(11000.00 AS Decimal(10, 2)), CAST(8000.00 AS Decimal(10, 2)))
INSERT [dbo].[VentaDetalle] ([IDVenta], [IDProducto], [Cantidad], [PrecioUnitario], [CostoUnitario]) VALUES (2, 1, 1, CAST(50000.00 AS Decimal(10, 2)), CAST(35000.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[Vertical] ([NombreTabla], [DVV]) VALUES (N'Producto', N'6618ee147c9f087f71eac434d25c0cc290e5a0e257b683e1a312f83117561f4c')
INSERT [dbo].[Vertical] ([NombreTabla], [DVV]) VALUES (N'Usuario', N'8f5fd25f9659b5d8e293b5282561ed33a73e16ceda648757d1382385d10f1cea')
GO
ALTER TABLE [dbo].[Producto] ADD  DEFAULT ((0)) FOR [Costo]
GO
ALTER TABLE [dbo].[VentaDetalle] ADD  DEFAULT ((1)) FOR [Cantidad]
GO
ALTER TABLE [dbo].[Bitacora]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_Usuario] FOREIGN KEY([Id_Usuario])
REFERENCES [dbo].[Usuario] ([Id_Usuario])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Bitacora] CHECK CONSTRAINT [FK_Bitacora_Usuario]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Categoria] FOREIGN KEY([IDCategoria])
REFERENCES [dbo].[Categoria] ([IDCategoria])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_Categoria]
GO
ALTER TABLE [dbo].[VentaDetalle]  WITH CHECK ADD  CONSTRAINT [FK_VentaDetalle_Producto] FOREIGN KEY([IDProducto])
REFERENCES [dbo].[Producto] ([IDProducto])
GO
ALTER TABLE [dbo].[VentaDetalle] CHECK CONSTRAINT [FK_VentaDetalle_Producto]
GO
ALTER TABLE [dbo].[VentaDetalle]  WITH CHECK ADD  CONSTRAINT [FK_VentaDetalle_Venta] FOREIGN KEY([IDVenta])
REFERENCES [dbo].[Venta] ([IDVenta])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VentaDetalle] CHECK CONSTRAINT [FK_VentaDetalle_Venta]
GO
/****** Object:  StoredProcedure [dbo].[DESBLOQUEAR_USUARIO]    Script Date: 9/30/2025 12:03:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[DESBLOQUEAR_USUARIO]
@Username nvarchar(20)
as
begin
update USUARIO
set bloqueado = CASE WHEN bloqueado = 1 THEN 0 ELSE 1 END,
cant_intentos = CASE WHEN bloqueado = 1 THEN 0 ELSE cant_intentos END
where Username = @Username;
end;
GO
/****** Object:  StoredProcedure [dbo].[GUARDAR_PASS_ENCRIPTADA]    Script Date: 9/30/2025 12:03:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[GUARDAR_PASS_ENCRIPTADA]
@Username nvarchar(20), @pass nvarchar(100)
as
begin
update USUARIO
set Clave = @pass
where Username = @Username;
end;
GO
/****** Object:  StoredProcedure [dbo].[RESET_INTENTOS_USUARIO]    Script Date: 9/30/2025 12:03:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[RESET_INTENTOS_USUARIO]
@username nvarchar(20)
AS
BEGIN
    UPDATE USUARIO SET Cant_intentos = 0 WHERE Username = @username;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_TOP_GANANCIAS_CATEGORIA_GENERAL]    Script Date: 9/30/2025 12:03:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[SP_TOP_GANANCIAS_CATEGORIA_GENERAL]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        c.Nombre AS Categoria,
        CAST(SUM((vd.PrecioUnitario - vd.CostoUnitario) * vd.Cantidad) AS DECIMAL(15,2)) AS GananciaTotal,
        COUNT(DISTINCT v.IDVenta) AS CantidadVentas,
        SUM(vd.Cantidad) AS UnidadesVendidas,
        CAST(AVG((vd.PrecioUnitario - vd.CostoUnitario) * vd.Cantidad) AS DECIMAL(15,2)) AS GananciaPromedio,
        CAST(SUM(vd.PrecioUnitario * vd.Cantidad) AS DECIMAL(15,2)) AS VentaTotal,
        CAST(SUM(vd.CostoUnitario * vd.Cantidad) AS DECIMAL(15,2)) AS CostoTotal,
        MIN(v.Fecha) AS PrimeraVenta,
        MAX(v.Fecha) AS UltimaVenta
    FROM [dbo].[VentaDetalle] vd
    INNER JOIN [dbo].[Venta] v ON vd.IDVenta = v.IDVenta
    INNER JOIN [dbo].[Producto] p ON vd.IDProducto = p.IDProducto
    INNER JOIN [dbo].[Categoria] c ON p.IDCategoria = c.IDCategoria
    GROUP BY c.IDCategoria, c.Nombre
    ORDER BY GananciaTotal DESC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TOP_GANANCIAS_CATEGORIA_SEMANAL]    Script Date: 9/30/2025 12:03:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[SP_TOP_GANANCIAS_CATEGORIA_SEMANAL]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        c.Nombre AS Categoria,
        CAST(SUM((vd.PrecioUnitario - vd.CostoUnitario) * vd.Cantidad) AS DECIMAL(15,2)) AS GananciaTotal,
        COUNT(DISTINCT v.IDVenta) AS CantidadVentas,
        SUM(vd.Cantidad) AS UnidadesVendidas,
        CAST(AVG((vd.PrecioUnitario - vd.CostoUnitario) * vd.Cantidad) AS DECIMAL(15,2)) AS GananciaPromedio,
        CAST(SUM(vd.PrecioUnitario * vd.Cantidad) AS DECIMAL(15,2)) AS VentaTotal,
        CAST(SUM(vd.CostoUnitario * vd.Cantidad) AS DECIMAL(15,2)) AS CostoTotal
    FROM [dbo].[VentaDetalle] vd
    INNER JOIN [dbo].[Venta] v ON vd.IDVenta = v.IDVenta
    INNER JOIN [dbo].[Producto] p ON vd.IDProducto = p.IDProducto
    INNER JOIN [dbo].[Categoria] c ON p.IDCategoria = c.IDCategoria
    WHERE v.Fecha >= DATEADD(DAY, -7, GETDATE())
    GROUP BY c.IDCategoria, c.Nombre
    ORDER BY GananciaTotal DESC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TOP_GANANCIAS_CATEGORIA_ULTIMO_MES]    Script Date: 9/30/2025 12:03:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[SP_TOP_GANANCIAS_CATEGORIA_ULTIMO_MES]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        c.Nombre AS Categoria,
        CAST(SUM((vd.PrecioUnitario - vd.CostoUnitario) * vd.Cantidad) AS DECIMAL(15,2)) AS GananciaTotal,
        COUNT(DISTINCT v.IDVenta) AS CantidadVentas,
        SUM(vd.Cantidad) AS UnidadesVendidas,
        CAST(AVG((vd.PrecioUnitario - vd.CostoUnitario) * vd.Cantidad) AS DECIMAL(15,2)) AS GananciaPromedio,
        CAST(SUM(vd.PrecioUnitario * vd.Cantidad) AS DECIMAL(15,2)) AS VentaTotal,
        CAST(SUM(vd.CostoUnitario * vd.Cantidad) AS DECIMAL(15,2)) AS CostoTotal
    FROM [dbo].[VentaDetalle] vd
    INNER JOIN [dbo].[Venta] v ON vd.IDVenta = v.IDVenta
    INNER JOIN [dbo].[Producto] p ON vd.IDProducto = p.IDProducto
    INNER JOIN [dbo].[Categoria] c ON p.IDCategoria = c.IDCategoria
    WHERE v.Fecha >= DATEADD(MONTH, -1, GETDATE())
    GROUP BY c.IDCategoria, c.Nombre
    ORDER BY GananciaTotal DESC
END
GO
/****** Object:  StoredProcedure [dbo].[SUMAR_INTENTO]    Script Date: 9/30/2025 12:03:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SUMAR_INTENTO]
@username nvarchar(20)
AS
BEGIN
    UPDATE USUARIO SET Cant_intentos = Cant_intentos + 1 WHERE Username = @username;
END;
GO
