USE [ProyectoWEB]
GO
/****** Object:  StoredProcedure [dbo].[SUMAR_INTENTO]    Script Date: 12/7/2025 22:00:31 ******/
DROP PROCEDURE [dbo].[SUMAR_INTENTO]
GO
/****** Object:  StoredProcedure [dbo].[GUARDAR_PASS_ENCRIPTADA]    Script Date: 12/7/2025 22:00:31 ******/
DROP PROCEDURE [dbo].[GUARDAR_PASS_ENCRIPTADA]
GO
/****** Object:  StoredProcedure [dbo].[DESBLOQUEAR_USUARIO]    Script Date: 12/7/2025 22:00:31 ******/
DROP PROCEDURE [dbo].[DESBLOQUEAR_USUARIO]
GO
ALTER TABLE [dbo].[Bitacora] DROP CONSTRAINT [FK_Bitacora_Usuario]
GO
/****** Object:  Table [dbo].[Vertical]    Script Date: 12/7/2025 22:00:31 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Vertical]') AND type in (N'U'))
DROP TABLE [dbo].[Vertical]
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 12/7/2025 22:00:31 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Venta]') AND type in (N'U'))
DROP TABLE [dbo].[Venta]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 12/7/2025 22:00:31 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Usuario]') AND type in (N'U'))
DROP TABLE [dbo].[Usuario]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 12/7/2025 22:00:31 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Producto]') AND type in (N'U'))
DROP TABLE [dbo].[Producto]
GO
/****** Object:  Table [dbo].[Perfil]    Script Date: 12/7/2025 22:00:31 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Perfil]') AND type in (N'U'))
DROP TABLE [dbo].[Perfil]
GO
/****** Object:  Table [dbo].[Carrito]    Script Date: 12/7/2025 22:00:31 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Carrito]') AND type in (N'U'))
DROP TABLE [dbo].[Carrito]
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 12/7/2025 22:00:31 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Bitacora]') AND type in (N'U'))
DROP TABLE [dbo].[Bitacora]
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 12/7/2025 22:00:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[Id_Bitacora] [int] IDENTITY(1,1) NOT NULL,
	[FechaHora] [datetime] NOT NULL,
	[TipoEvento] [varchar](50) NOT NULL,
	[Descripcion] [varchar](max) NULL,
	[Id_Usuario] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Bitacora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carrito]    Script Date: 12/7/2025 22:00:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carrito](
	[IDCarrito] [int] NOT NULL,
	[IDUsuario] [int] NOT NULL,
	[IDProducto] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Perfil]    Script Date: 12/7/2025 22:00:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfil](
	[ID] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 12/7/2025 22:00:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[IDProducto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Precio] [int] NOT NULL,
	[DVH] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 12/7/2025 22:00:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NULL,
	[Clave] [varchar](max) NULL,
	[TipoUsuario] [int] NOT NULL,
	[cant_intentos] [int] NULL,
	[bloqueado] [bit] NULL,
	[DVH] [varchar](max) NULL,
 CONSTRAINT [PK__Usuario__63C76BE20E725557] PRIMARY KEY CLUSTERED 
(
	[Id_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 12/7/2025 22:00:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[IDUsuario] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Total] [int] NOT NULL,
	[MetodoPago] [varchar](50) NOT NULL,
	[IDVenta] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Venta] PRIMARY KEY CLUSTERED 
(
	[IDVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vertical]    Script Date: 12/7/2025 22:00:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vertical](
	[NombreTabla] [varchar](20) NOT NULL,
	[DVV] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[NombreTabla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bitacora] ON 

INSERT [dbo].[Bitacora] ([Id_Bitacora], [FechaHora], [TipoEvento], [Descripcion], [Id_Usuario]) VALUES (1069, CAST(N'2025-07-12T20:23:03.540' AS DateTime), N'Message', N'Se logeo el Webmaster: MarkZuckerberg', 1)
INSERT [dbo].[Bitacora] ([Id_Bitacora], [FechaHora], [TipoEvento], [Descripcion], [Id_Usuario]) VALUES (1070, CAST(N'2025-07-12T20:24:51.537' AS DateTime), N'Message', N'Se logeo el Webmaster: MarkZuckerberg', 1)
INSERT [dbo].[Bitacora] ([Id_Bitacora], [FechaHora], [TipoEvento], [Descripcion], [Id_Usuario]) VALUES (1071, CAST(N'2025-07-12T20:26:49.463' AS DateTime), N'Message', N'Se logeo el Webmaster: MarkZuckerberg', 1)
SET IDENTITY_INSERT [dbo].[Bitacora] OFF
GO
INSERT [dbo].[Carrito] ([IDCarrito], [IDUsuario], [IDProducto]) VALUES (1, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([IDProducto], [Nombre], [Precio], [DVH]) VALUES (1, N'Monitor', 50000, N'd470b2038bfc237f9b02baa81e6ea15038ae5771e36930abbbfe979cc72b2733')
INSERT [dbo].[Producto] ([IDProducto], [Nombre], [Precio], [DVH]) VALUES (2, N'Gabinete', 20000, N'4d3a0d3468a3ddc49aab06d01946cf5fb955a98b510a34460b909a7702435db1')
INSERT [dbo].[Producto] ([IDProducto], [Nombre], [Precio], [DVH]) VALUES (3, N'Silla', 45000, N'53bc700383dffd0e1e3d1e49c817557f9a51f8f1a5f2f4298503cc3940735b92')
SET IDENTITY_INSERT [dbo].[Producto] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([Id_Usuario], [Username], [Clave], [TipoUsuario], [cant_intentos], [bloqueado], [DVH]) VALUES (1, N'MarkZuckerberg', N'9cd696db3373d0790d6d670fd7624f2a34888519942f6d0659d8a0284bdac21b', 1, 1, 0, N'bb84dbcb0521bc16eeaf2c5f59e3a31186fc9837116ac631bf063ed04601a4d9')
INSERT [dbo].[Usuario] ([Id_Usuario], [Username], [Clave], [TipoUsuario], [cant_intentos], [bloqueado], [DVH]) VALUES (2, N'ElonMusk', N'2e463c7c83d8591be89744657002f6465dbaabfa31d0011d15f74678e5432f7a', 2, 1, 0, N'd2680d08a8edc14209d6a8bfa2b82c5c5415009773ead7c9b6bea8d4ac9fd06a')
INSERT [dbo].[Usuario] ([Id_Usuario], [Username], [Clave], [TipoUsuario], [cant_intentos], [bloqueado], [DVH]) VALUES (4, N'Pato', N'1ccb8820a5085ac20d2edc330f6e7a9245462493eb2746c4467af3988e967785', 3, 0, 0, N'5a6f1d2ab4c2f0fdc58d4f3fdef4d091e77fd588bdaab41ac9e85c87e31bde0b')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
SET IDENTITY_INSERT [dbo].[Venta] ON 

INSERT [dbo].[Venta] ([IDUsuario], [Fecha], [Total], [MetodoPago], [IDVenta]) VALUES (1, CAST(N'2025-07-08T21:01:19.770' AS DateTime), 26000, N'Tarjeta', 1)
INSERT [dbo].[Venta] ([IDUsuario], [Fecha], [Total], [MetodoPago], [IDVenta]) VALUES (1, CAST(N'2025-07-08T21:04:20.807' AS DateTime), 78000, N'Tarjeta', 2)
SET IDENTITY_INSERT [dbo].[Venta] OFF
GO
INSERT [dbo].[Vertical] ([NombreTabla], [DVV]) VALUES (N'Producto', N'6618ee147c9f087f71eac434d25c0cc290e5a0e257b683e1a312f83117561f4c')
INSERT [dbo].[Vertical] ([NombreTabla], [DVV]) VALUES (N'Usuario', N'cb5b831bdb485f331416bc4250d6291c2cb66a9970839e9627d16ac307a9f7fa')
GO
ALTER TABLE [dbo].[Bitacora]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_Usuario] FOREIGN KEY([Id_Usuario])
REFERENCES [dbo].[Usuario] ([Id_Usuario])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Bitacora] CHECK CONSTRAINT [FK_Bitacora_Usuario]
GO
/****** Object:  StoredProcedure [dbo].[DESBLOQUEAR_USUARIO]    Script Date: 12/7/2025 22:00:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[DESBLOQUEAR_USUARIO]
@Username nvarchar(20)
as
begin
update USUARIO
set bloqueado = CASE WHEN bloqueado = 1 THEN 0 ELSE 1 END,
cant_intentos = CASE WHEN bloqueado = 1 THEN 0 ELSE cant_intentos END
where Username = @Username;
end;
GO
/****** Object:  StoredProcedure [dbo].[GUARDAR_PASS_ENCRIPTADA]    Script Date: 12/7/2025 22:00:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[GUARDAR_PASS_ENCRIPTADA]
@Username nvarchar(20), @pass nvarchar(100)
as
begin
update USUARIO
set Clave = @pass
where Username = @Username;
end;
GO
/****** Object:  StoredProcedure [dbo].[SUMAR_INTENTO]    Script Date: 12/7/2025 22:00:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SUMAR_INTENTO]
@username nvarchar(20)
AS
BEGIN
    UPDATE USUARIO SET Cant_intentos = Cant_intentos + 1 WHERE Username = @username;
END;
GO
