USE [ProyectoWEB]
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 8/7/2025 21:52:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[Id_Bitacora] [int] IDENTITY(1,1) NOT NULL,
	[FechaHora] [datetime] NOT NULL,
	[TipoEvento] [varchar](50) NOT NULL,
	[Descripcion] [varchar](max) NULL,
	[Id_Usuario] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Bitacora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carrito]    Script Date: 8/7/2025 21:52:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carrito](
	[IDCarrito] [int] NOT NULL,
	[IDUsuario] [int] NOT NULL,
	[IDProducto] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 8/7/2025 21:52:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[IDProducto] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Precio] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 8/7/2025 21:52:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NULL,
	[Clave] [varchar](50) NULL,
	[TipoUsuario] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 8/7/2025 21:52:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[IDUsuario] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Total] [int] NOT NULL,
	[MetodoPago] [varchar](50) NOT NULL,
	[IDVenta] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Venta] PRIMARY KEY CLUSTERED 
(
	[IDVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bitacora] ON 

INSERT [dbo].[Bitacora] ([Id_Bitacora], [FechaHora], [TipoEvento], [Descripcion], [Id_Usuario]) VALUES (1, CAST(N'2025-05-29T10:11:11.413' AS DateTime), N'Message', N'Se logeo el Webmaster: MarkZuckerberg', NULL)
INSERT [dbo].[Bitacora] ([Id_Bitacora], [FechaHora], [TipoEvento], [Descripcion], [Id_Usuario]) VALUES (2, CAST(N'2025-05-29T10:20:02.847' AS DateTime), N'Message', N'Se logeo el Webmaster: MarkZuckerberg', NULL)
INSERT [dbo].[Bitacora] ([Id_Bitacora], [FechaHora], [TipoEvento], [Descripcion], [Id_Usuario]) VALUES (3, CAST(N'2025-05-29T10:20:19.517' AS DateTime), N'Message', N'Se logeo el Comprador: ElonMusk', NULL)
GO
SET IDENTITY_INSERT [dbo].[Bitacora] OFF
GO
INSERT [dbo].[Carrito] ([IDCarrito], [IDUsuario], [IDProducto]) VALUES (1, 1, 1)
GO
INSERT [dbo].[Producto] ([IDProducto], [Nombre], [Precio]) VALUES (1, N'Monitor', 50000)
INSERT [dbo].[Producto] ([IDProducto], [Nombre], [Precio]) VALUES (2, N'Gabinete', 20000)
INSERT [dbo].[Producto] ([IDProducto], [Nombre], [Precio]) VALUES (3, N'Silla', 45000)
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([Id_Usuario], [Username], [Clave], [TipoUsuario]) VALUES (1, N'MarkZuckerberg', N'Master999', 1)
INSERT [dbo].[Usuario] ([Id_Usuario], [Username], [Clave], [TipoUsuario]) VALUES (2, N'ElonMusk', N'Elon666', 2)
INSERT [dbo].[Usuario] ([Id_Usuario], [Username], [Clave], [TipoUsuario]) VALUES (3, N'Pato', N'Pato1', 3)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
SET IDENTITY_INSERT [dbo].[Venta] ON 

INSERT [dbo].[Venta] ([IDUsuario], [Fecha], [Total], [MetodoPago], [IDVenta]) VALUES (1, CAST(N'2025-07-08T21:01:19.770' AS DateTime), 26000, N'Tarjeta', 1)
INSERT [dbo].[Venta] ([IDUsuario], [Fecha], [Total], [MetodoPago], [IDVenta]) VALUES (1, CAST(N'2025-07-08T21:04:20.807' AS DateTime), 78000, N'Tarjeta', 2)
SET IDENTITY_INSERT [dbo].[Venta] OFF
GO
ALTER TABLE [dbo].[Bitacora]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_Usuario] FOREIGN KEY([Id_Usuario])
REFERENCES [dbo].[Usuario] ([Id_Usuario])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Bitacora] CHECK CONSTRAINT [FK_Bitacora_Usuario]
GO
