USE [master]
GO
/****** Object:  Database [ProyectoWEB]    Script Date: 31/5/2025 13:06:27 ******/
CREATE DATABASE [ProyectoWEB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProyectoWEB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ProyectoWEB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProyectoWEB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ProyectoWEB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProyectoWEB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProyectoWEB]
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 31/5/2025 13:06:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[Id_Bitacora] [int] IDENTITY(1,1) NOT NULL,
	[FechaHora] [datetime] NOT NULL,
	[TipoEvento] [varchar](50) NOT NULL,
	[Descripcion] [varchar](max) NULL,
	[Id_Usuario] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Bitacora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 31/5/2025 13:06:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NULL,
	[Clave] [varchar](50) NULL,
	[TipoUsuario] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bitacora] ON 

INSERT [dbo].[Bitacora] ([Id_Bitacora], [FechaHora], [TipoEvento], [Descripcion], [Id_Usuario]) VALUES (1, CAST(N'2025-05-29T10:11:11.413' AS DateTime), N'Message', N'Se logeo el Webmaster: MarkZuckerberg', NULL)
INSERT [dbo].[Bitacora] ([Id_Bitacora], [FechaHora], [TipoEvento], [Descripcion], [Id_Usuario]) VALUES (2, CAST(N'2025-05-29T10:20:02.847' AS DateTime), N'Message', N'Se logeo el Webmaster: MarkZuckerberg', NULL)
INSERT [dbo].[Bitacora] ([Id_Bitacora], [FechaHora], [TipoEvento], [Descripcion], [Id_Usuario]) VALUES (3, CAST(N'2025-05-29T10:20:19.517' AS DateTime), N'Message', N'Se logeo el Comprador: ElonMusk', NULL)
SET IDENTITY_INSERT [dbo].[Bitacora] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([Id_Usuario], [Username], [Clave], [TipoUsuario]) VALUES (1, N'MarkZuckerberg', N'Master999', 1)
INSERT [dbo].[Usuario] ([Id_Usuario], [Username], [Clave], [TipoUsuario]) VALUES (2, N'ElonMusk', N'Elon666', 2)
INSERT [dbo].[Usuario] ([Id_Usuario], [Username], [Clave], [TipoUsuario]) VALUES (3, N'Pato', N'Pato1', 3)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[Bitacora]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_Usuario] FOREIGN KEY([Id_Usuario])
REFERENCES [dbo].[Usuario] ([Id_Usuario])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Bitacora] CHECK CONSTRAINT [FK_Bitacora_Usuario]
GO
USE [master]
GO
