<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SERVICES.Properties.Settings.masterConnectionString"
            connectionString="Data Source=(localdb)\serverSQL;Initial Catalog=master;Integrated Security=True;Encrypt=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>